aclocal.m4
autom4te.cache/*
config.h
config.h.in
config.log
config.status
configure
depcomp
doc/examples/Makefile
doc/examples/Makefile.in
doc/Makefile
doc/Makefile.in
FILES
INSTALL
install-sh
Makefile
Makefile.in
missing
src/.deps/*
src/Makefile
src/Makefile.in
src/wdb2sql.o
src/wdb-parser
stamp-h1

